<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewBag.Title | Regional Order Management</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
    <link href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- FlatPckr -->
    <link href="~/plugins/flatpickr/dist/flatpickr.min.css" rel="stylesheet" />
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- fullCalendar -->
    <link rel="stylesheet" href="~/plugins/fullcalendar/main.min.css">
    <link rel="stylesheet" href="~/plugins/fullcalendar-interaction/main.min.css">
    <link rel="stylesheet" href="~/plugins/fullcalendar-daygrid/main.min.css">
    <link rel="stylesheet" href="~/plugins/fullcalendar-timegrid/main.min.css">
    <link rel="stylesheet" href="~/plugins/fullcalendar-bootstrap/main.min.css">
</head>
<body class="hold-transition layout-top-nav">
    <div class="wrapper">
        @{
            var employeeName = Convert.ToString(Session["EmployeeName"]);
            if (string.IsNullOrWhiteSpace(employeeName))
            {
                employeeName = "Regional Order User";
            }
        }

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <a href="@Url.Action("RegionalOrders", "Home")" class="ro-navbar-brand">
                <img src="~/dist/img/DILG LOGO.png" class="ro-navbar-logo" alt="DILG Logo">
                <span class="ro-navbar-title">REGIONAL ORDER MANAGEMENT SYSTEM XII</span>
            </a>

            <!-- Left navbar links -->
            <ul class="navbar-nav ro-primary-nav">
                <li class="nav-item ro-primary-nav-item">
                    <a href="@Url.Action("RegionalOrders", "Home")" class="nav-link">Regional Orders</a>
                </li>
                @{ if (Session["RoleID"] != null && Convert.ToInt32(Session["RoleID"]) == 4)
                                {
                    <li class="nav-item ro-primary-nav-item">
                        <a href="@Url.Action("ManageRegionalOrder", "Home")" class="nav-link">Manage Regional Orders</a>
                    </li>
 }
                }
                <li class="nav-item ro-primary-nav-item">
                    <a href="@Url.Action("RegionalOrderCalendar", "Home")" class="nav-link">Calendar</a>
                </li>
            </ul>

            <!-- SEARCH FORM -->
            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Search regional orders..." aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown ro-notification-menu">
                    <a class="nav-link ro-notification-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" title="Notifications">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-danger navbar-badge ro-notification-badge" id="ro-notification-count"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right ro-notification-dropdown">
                        <div class="ro-notification-header">
                            <span>Notifications</span>
                            <button type="button" class="btn btn-link btn-sm" id="ro-notification-mark-all">Mark all read</button>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div id="ro-notification-list">
                            <span class="dropdown-item ro-notification-empty">No notifications yet.</span>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown ro-profile-menu">
                    <a class="nav-link ro-profile-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="~/dist/img/default-150x150.png" class="ro-profile-avatar" alt="User Image">
                        <span class="ro-profile-name">@employeeName</span>
                        <i class="fas fa-angle-down ro-profile-caret"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right ro-profile-dropdown">
                        <span class="dropdown-item disabled">
                            <i class="fas fa-user mr-2"></i> Account
                        </span>
                        <span class="dropdown-item disabled">
                            <i class="fas fa-cog mr-2"></i> Settings
                        </span>
                        <div class="dropdown-divider"></div>
                        <a href="@Url.Action("Logout", "Home")" class="dropdown-item">
                            <i class="fas fa-sign-out-alt mr-2"></i> Logout
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark"></h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Starter Page</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <!-- /.col -->
                        <div class="col">
                            <!-- jQuery -->
                            <script src="~/plugins/jquery/jquery.min.js"></script>
                            @RenderBody()
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Regional Order Management
            </div>
            <strong>Copyright &copy; 2026 DILG Regional Order Management.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables -->
    <script src="~/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.flash.min.js"></script>
    <!-- Select2 -->
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <!-- FlatPckr -->
    <script src="~/plugins/flatpickr/dist/flatpickr.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <script src="~/dist/js/demo.js"></script>

    <!-- fullCalendar 2.2.5 -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/fullcalendar/main.min.js"></script>
    <script src="~/plugins/fullcalendar-daygrid/main.min.js"></script>
    <script src="~/plugins/fullcalendar-timegrid/main.min.js"></script>
    <script src="~/plugins/fullcalendar-interaction/main.min.js"></script>
    <script src="~/plugins/fullcalendar-bootstrap/main.min.js"></script>
    <script>
        (function () {
            var notificationList = $('#ro-notification-list');
            var notificationCount = $('#ro-notification-count');
            var markAllButton = $('#ro-notification-mark-all');

            function htmlEncode(value) {
                return $('<div/>').text(value || '').html();
            }

            function updateUnreadCount(count) {
                var unreadCount = parseInt(count || 0, 10);
                if (unreadCount > 0) {
                    notificationCount.text(unreadCount > 99 ? '99+' : unreadCount).show();
                    markAllButton.prop('disabled', false);
                } else {
                    notificationCount.text('').hide();
                    markAllButton.prop('disabled', true);
                }
            }

            function renderNotifications(data) {
                var notifications = data && data.notifications ? data.notifications : [];
                updateUnreadCount(data ? data.unreadCount : 0);
                notificationList.empty();

                if (data && data.errorMessage) {
                    notificationList.append('<span class="dropdown-item ro-notification-empty">' + htmlEncode(data.errorMessage) + '</span>');
                    return;
                }

                if (!notifications.length) {
                    notificationList.append('<span class="dropdown-item ro-notification-empty">No notifications yet.</span>');
                    return;
                }

                notifications.forEach(function (notification) {
                    var readClass = notification.isRead ? ' is-read' : '';
                    var item = '' +
                        '<a href="#" class="dropdown-item ro-notification-item' + readClass + '" data-id="' + notification.NotificationID + '" data-url="' + htmlEncode(notification.TargetUrl || '@Url.Action("RegionalOrders", "Home")') + '">' +
                            '<span class="ro-notification-dot"></span>' +
                            '<span class="ro-notification-copy">' +
                                '<strong>' + htmlEncode(notification.Title) + '</strong>' +
                                '<span>' + htmlEncode(notification.Message) + '</span>' +
                                '<small>' + htmlEncode(notification.createdAt) + '</small>' +
                            '</span>' +
                        '</a>';
                    notificationList.append(item);
                });
            }

            function loadNotifications() {
                $.getJSON('@Url.Action("GetMyNotifications", "Notification")')
                    .done(renderNotifications)
                    .fail(function () {
                        updateUnreadCount(0);
                    });
            }

            notificationList.on('click', '.ro-notification-item', function (event) {
                event.preventDefault();
                var item = $(this);
                var targetUrl = item.data('url') || '@Url.Action("RegionalOrders", "Home")';

                $.post('@Url.Action("MarkNotificationRead", "Notification")', { id: item.data('id') })
                    .always(function () {
                        window.location.href = targetUrl;
                    });
            });

            markAllButton.on('click', function (event) {
                event.preventDefault();
                event.stopPropagation();

                $.post('@Url.Action("MarkAllNotificationsRead", "Notification")')
                    .done(function (data) {
                        updateUnreadCount(data ? data.unreadCount : 0);
                        notificationList.find('.ro-notification-item').addClass('is-read');
                    });
            });

            loadNotifications();
            window.setInterval(loadNotifications, 60000);
        })();
    </script>
</body>
</html>
